<h1>Deneme#index</h1>
<p>Find me in app/views/deneme/index.html.erb</p>
<h1>bu bir denemedir</h1>
<a href= '/deneme/merhaba'>Merhaba Sayfasi (HTML)</a><br>
<%= link_to('Merhaba sayfasi RAILS',{:action => 'merhaba'}) %>
